#cm-nav {
/ / background-color: rgb(13, 13, 13);
/ / background-color: #6C567B;
    background-color: #4C5374;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

body {
    font-family: Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
    background: url("../img/bg.jpg") 50% 50%;
/ / background-color: #eeeeee;
    //background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

a,i{
    outline: none !important;
}
#cm-weblogo {
    width: 30px;
    height: 30px;
}

.cm-logo {
    padding-top: 10px;
    float: left;
    margin-left: 20px;
}

#cm-nav .navbar-header {
    color: #fff;
    margin-left: 30px;
}

#cm-website-name {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.cm-login-drop {
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.cm-login-drop > button, .cm-login-drop > button:hover {
    border-radius: 50%;
    color: #fff !important;
    overflow: hidden;
    background-color: #C4AFF0;
}

#nav-menu {
    font-size: 20px;
}

.login-icon {
    font-size: 18px;
}

.nav-search-box {
    display: inline-block;
    margin-top: 14px;
    float: left;
    position: relative;
    margin-right: 50px;
    padding: 3px 10px;
    background-color: #fff;
    border-radius: 15px;
}

.nav-search-box input {
    border: none;
    font-size: 14px;
    outline: none;
    width: 300px;
    background-color: #fff;
}

.search-select {
    position: absolute;
    top: 33px;
    right: 10px;
    width: 300px;
    display: none;
    z-index: 999;
    box-shadow: 0 2px 6px #666;
}
.search-list{
    margin-bottom: 0;
}

.search-focus {
    background-color: #A393EB;
}

.search-focus a {
    color: #fff;
}

.search-list li {
    border: none;
    outline: none;
    padding: 0;
}
.search-list a{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
}
input, button,select {
    outline: none !important;
    box-shadow: none !important;
}


.search-list li img {
    width: 20px;
    margin-right: 20px;
}

.folder-toolbar {
    background-color: #fff;
    position: relative;
}

.toolbar-right {
    position: absolute;
    right: 20px;
    top: 10px;
}

.folder-boxs {
    width: 1106px;
    margin: 0 auto;
    position: relative;
}

.folder-container {
    float: left;
/ / position: relative;
}

.folder {
    float: left;
    position: relative;
    transition: all .2s;
    margin-right: 30px;
}

.folder:hover {
    cursor: pointer;
}

.folder > a:hover {
    text-decoration: none;
}

.folder > a {
    height: 50px;
    font-size: 17px;
    display: inline-block;
    line-height: 50px;
    color: #222222;
}

.folder-active {
    font-weight: 700;
}

.picker {
    position: absolute;
    width: 220px;
    height: 2px;
    left: 0;
    background-color: #f69c00;
    transition: all .2s ease-out;
}

a, a:active, a:hover, a:visited {
    text-decoration: none !important;
}

.tag-lib {
    padding: 30px 0;
    width: 1106px;
    margin: 0 auto;
}

.tag-container {
    text-align: center;
    margin-top: 20px;
}

.tag-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
/ / background-color: #2aabd2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all .2s;
}

.tag-name {
    color: #222;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 700;
}

.col-tag-small {
    width: 10vw;
    float: left;
}

.tag-container .tag-icon:hover {

}

.login-modal-content {
    padding: 0 20px;
}

.cm-input-box {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.cm-input-box > span {
    position: absolute;
    left: 5px;
    top: 10px;
}

.cm-input {
    padding-left: 25px;
    outline: none;
}

.cm-input:focus {
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0 #ccc;
}

.div-to-reg {
    text-align: right;
    font-size: 14px;
    margin-top: 10px;
}

.div-to-reg > a {
    color: #c0c0c0;
}

.toolbar-edit {
    font-size: 18px;
    color: #E8AA8C;
    margin-right: 20px;
}

.toolbar-add {
    font-size: 18px;
    color: #E8AA8C;
}
.toolbar-edit:hover,.toolbar-add:hover{
    color: #E8AA8C;
}
.pad-r-20 {
    padding-right: 20px;
}

.col-sm-offset-9-5 {
    margin-left: 80%;
}

.add-ul {
    margin-bottom: 20px;
}

.member-container {
    padding: 20px;
    position: relative;
    float: left;
}

.member-body {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 5px
}

.member-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #fff;
/ / background-color: #fff;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 22px;
/ / background-image: url('https://img.alicdn.com/tps/i2/TB1bNE7LFXXXXaOXFXXwFSA1XXX-292-116.png_145x145.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.member-footer {
    text-align: center;
    margin-top: 10px;
    color: #539092;
    font-weight: 700;
    max-width: 80px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.btn-member-edit {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    color: #8F8787;
    overflow: hidden;
    display: none;
    font-size: 20px;
    z-index: 99;
    cursor: pointer;
}
.btn-folder-edit{
    position: absolute;
    right: -10px;
    top: 0;
    height: 25px;
    width: 8px;
    color: #aaaaaa;
    overflow: hidden;
    display: none;
    font-size: 15px;
    z-index: 99;
    cursor: pointer;
}

.edit-dash {
    z-index: 9999;
    width: 100px;
    height: 60px;
    display: none;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 2px 6px #666;
    position: absolute;
    right: -70px;
    top: 34px;
}
.folder-edit-dash{
    z-index: 666;
    width: 50px;
    height: 58px;
    display: none;
    padding: 2px 0;
    color: #fff;
    font-size: 14px;
    background-color: #6E5773;
    box-shadow: 0 1px 4px #666;
    position: absolute;
    right: -47px;
    top: 0;
}
.folder-edit-dash a{
    color: #fff;
    display: inline-block;
    width: 100%;
    padding: 3px;
    text-align: center;
}
.folder-edit-dash a:hover{
    background-color: #2aabd2;
}
.edit-dash a {
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 25px;
}

.edit-dash a:hover {
    background-color: #eee;
}

.btn-del-folder {
    position: absolute;
    top: -1px;
    right: -14px;
    color: #ccc;
    display: none;
    font-size: 14px;
    cursor: pointer;

}

.btn-mod-folder {
    position: absolute;
    bottom: -1px;
    right: -14px;
    color: #ccaa00;
    display: none;
    font-size: 14px;
    cursor: pointer;
}

#alert-modal .modal-header{
    border-bottom: none;
    padding: 10px 15px;
    font-size: 18px;
}
#alert-modal .modal-body{
    font-size: 16px;
    color: #0084ff;
    padding-bottom: 20px;
}