<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="engine">
    <resultMap id="BaseResultMap" type="xin.charming.bean.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" property="password"/>
        <result column="url" property="url"/>
        <result column="search_logo" property="SearchLogo"/>
        <result column="url" property="url"/>
        <result column="orderby" property="orderby"/>
    </resultMap>

    <select id="select" resultType="xin.charming.bean.Engine">
        SELECT *
        FROM qg_engine
        ORDER BY orderby
    </select>
</mapper>